{% extends "covfefe/base.html" %} {% block content %}
<div class="d-flex flex-row justify-content-center flex-wrap" style="padding:5px">
    {% for offer in offers %}
    <div class="card border-secondary mb-3" style="max-width: 20rem; margin:5px">
        <h4 class="card-header">{{ offer.coffee_name }}</h4>
        <div class="card-body">
            <p class="card-title">Provider: {{ offer.provider }}</p>
            <p class="card-title">Price: {{ offer.price }}</p>
            <p class="card-text">Added on {{ offer.publication_date }}</p>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}