{% extends "covfefe/base.html" %}
{% block content %}
<div class="d-flex flex-row justify-content-center flex-wrap" style="padding:5px">
    {% for provider in providers %}
    <div class="card border-secondary p-2" style="max-width: 20rem; margin:5px">
        <h4 class="card-header">{{ provider.provider_name }}</h4>
        <div class="card-body">
            <p class="card-text">Added by {{ provider.user }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="d-flex flex-row justify-content-center">
        <button type="button" class="btn btn-primary btn-lg p-2" onclick="location.href = '{% url 'add_provider' %}';">Add new provider</button>
</div>
{% endblock %}
